---
#
---
@import "base";

/* CSS embed contents*/

video {
  max-width: 100%;
  min-width: 100%;
}

video:focus {
  outline: none;
}

iframe {
  width: 100%;
}

#particles-js {
  position: absolute;
  width: 100%;
  z-index: -1;
}

strong{
  color: #9621ef;
}

.utterances{
  max-width: 100%;
}

body{
  font: 16px/1.5 "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace, 'Microsoft YaHei';
}

code{
  font-family:"JetBrains Mono";
}