---
#
---

.search {
    padding-top: 10vh;
}

.search form {
    position: relative;
    width: 100%;
    min-width: 295px;
    max-width: 540px;
    margin: 0 auto;
}

.search form input,
.search form button {
    border: none;
    outline: none;
    box-sizing: border-box;
}

.search form input {
    width: 100%;
    height: 42px;
    padding-left: 13px;
    padding-right: 46px;
    border: 2px solid #63c0f5;
    border-radius: 5px;
    background: #fff;
    color: #000;
}

.search form input[type="search"]::-webkit-search-cancel-button{
    display: none;
}

.search form button {
    height: 42px;
    width: 42px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    background: #b5e853;
    border-radius: 0 5px 5px 0;
}

.search form button svg{
    padding: 5px 0;
}

.search h3{
    text-align: center;
    margin: 20px 0;
    line-height: 1.5;
}

#results-container li {
    line-height: 2em;
}
